* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    color: white;
    text-align: center;
}

h1 {
    margin: 50px;
    color: #111;
}

h2 {
    font-size: 18px;
    color: #b2b2b2;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    padding: 30px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #111;
    margin: 30px 15px;
    text-align: start;
}

.preco, button {
    color: #febe01;
}

button {
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 25px;
    background-color: #febe01;
    color: #111;
    font-weight: 600;
}

p {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}

