@media (max-width: 739px) {
    .flex {
        max-width: 30rem;
        flex-direction: column;
    }

    .flex-item-4,
    .flex-item-8 {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        align-self: auto;
    }

    .filtro {
        display: none;
    }
}