* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --p-1: #252525;
    --p-2: #d6d3c8;
    --p-3: #e7e4d8;
    --p-4: #c0beb4;
    --b-1: #492901;
    --b-2: #c17139;
    --b-3: #d7a54d;
}

body {
    font-family: Georgia, serif;
    color: var(--p-1);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 96rem;
    margin: 0 auto;
}

.flex-row {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
}

.flex-item-4,
.flex-item-6,
.flex-item-8 {
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: flex-start;
}

.flex-item-4 {
    flex: 0 0 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
}

.flex-item-6 {
    flex: 0 0 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
}

.flex-item-8 {
    flex: 0 0 calc(66.666% - 2rem);
    max-width: calc(66.666% - 2rem);
}