@media (max-width: 850px) {
  .tecnologia,
  .introducao,
  .seguro {
    grid-template-columns: 1fr;
  }
  .tecnologia-bg,
  .seguro-bg {
    box-shadow: none;
  }
  .seguro-conteudo {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .introducao-conteudo,
  .tecnologia-conteudo {
    padding-bottom: 10rem;
    padding-top: 5rem;
  }
  .tecnologia-imagem,
  .seguro-imagem {
    display: none;
  }
}

@media (max-width: 730px) {
  :root {
    font-size: 50%;
  }
  .font-1-xxl {
    font-size: 4.8rem;
  }
  .depoimento,
  .seguros,
  .bicicletas-conteudo,
  .contato,
  .bicicletas,
  .lojas,
  .lojas-conteudo,
  .bicicleta-comprar,
  .bicicleta-informacoes,
  .bicicleta,
  .orcamento,
  .footer {
    grid-template-columns: 1fr;
  }
  .depoimento > div:first-of-type {
    display: none;
  }
  .depoimento-conteudo {
    padding: 8rem 4rem;
  }
  .tecnologia-vantagens {
    flex-direction: column;
  }
  .bicicletas-conteudo {
    gap: 1rem;
  }
  .bicicletas-bg {
    background: var(--cor-11);
  }
  .contato-dados,
  .orcamento-produto {
    border-radius: 5px 5px 0 0;
  }
  .contato-formulario,
  .orcamento-dados {
    border-radius: 0 0 5px 5px;
  }
  .contato-dados,
  .contato-formulario,
  .orcamento-dados,
  .orcamento-produto {
    padding: 3rem;
  }
  .bicicleta-comprar span {
    place-self: start;
  }
  .form > * {
    grid-column: span 2;
  }
}

@media (max-width: 350px) {
  .header-menu {
    column-gap: 2rem;
    row-gap: 0;
  }
  .font-1-xl {
    font-size: 2.8rem;
  }

  .font-2-xl {
    font-size: 2.8rem;
  }

  .font-1-xxl {
    font-size: 4rem;
  }
}
