// Condicionais

$tema: oceano;
$primary-color: black;
$secondary-color: gray;

@if $tema == oceano {
	$primary-color: blue;
	$secondary-color: orange;
} @else if $tema == deserto {
	$primary-color: yellow;
	$secondary-color: purple;
}

p {
	color: $primary-color;
	background: $secondary-color;
}