.assine {
    background-color: var(--p-2);
    padding: 3rem 0;
}

.assine-info {
    flex: 1;
    margin: 0 1rem;
}

.assine-info h2 {
    font-size: 3.6rem;
}

.assine-info p {
    font-size: 2.4rem;
    font-style: italic;
}

.assine form {
    flex: 1;
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.assine form label {
    display: none;
}

.assine input {
    border: 3px solid var(--p-1);
    background: none;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, serif;
    flex: 1;
    align-self: flex-start;
    padding: 1rem;
}

.assine button {
    background: var(--p-1);
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
    border: none;
    cursor: pointer;
    flex: 1;
    align-self: flex-start;
    padding: 1.3rem;
}