/*
Import Normal

@import "reset";
@import "buttons";

Nesse caso o scss irá resultar em 2 arquivos css (reset.css e buttons.css).

Partials (_reset.scss);

@import "reset.scss";

Irá importar somente o arquivo final, style.css por exemplo, e não vários arquivos.
*/

@import "flex";

$cor-primaria: #eee;
$cor-secundaria: #444;

div {
    background-color: $cor-secundaria;
    height: 30vh;
    max-width: 30vw;
    border-radius: 7px;
    margin: 60px auto 0;
    padding: 30px;
    p {
        color: $cor-primaria;
    }
}