.depoimento {
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);
}

.depoimento img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.depoimento-conteudo {
    padding: 4rem 4rem 8rem 8rem;
    align-self: end;
    background: url("../../img/dec/bottom-right-p.svg") no-repeat bottom 4rem right 4rem;
}

.depoimento-conteudo p {
    max-width: 32ch;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 3.2rem;
    position: relative;
}

.depoimento-conteudo p::after, .depoimento-conteudo p::before {
    font-size: 8rem;
    color: var(--cor-p2);
    position: absolute;
}

.depoimento-conteudo p::before {
    content: "“";
    top: -20px;
    left: -50px;
}
.depoimento-conteudo p::after {
    content: "”"
}