.introducao-bg {
    background-color: #000000;
    color: #ffffff;
    box-shadow: inset 0 -12rem #ffffff;
}

.introducao {
    grid-template-columns: 1fr 1fr;
    gap: 0 4rem;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 20rem;
}

.introducao img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.introducao h1 {
    margin-bottom: 3.2rem;
}

.introducao p {
    margin-bottom: 2rem;
}